# Ignore node_modules
node_modules/

# Ignore build output
dist/

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore Vite cache
.vite/

# Ignore editor and OS-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
